<!DOCTYPE html>
<html lang="es">
	<head>
		<title>ALY INMOBILIARIA</title>
		<meta charset="utf-8" />
		<meta description="Actividades inmobiliarias realizadas a cambio de una retribución o por contrata." />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="../static/images/favicon.png" type="image/png" />
		<link rel="stylesheet" href="../static/css/normalize.css">
		<link rel="stylesheet" href="../static/css/home.css">
	</head>
	<body>
		<header class="Header">
			<div class="Header-item">
				<a class="icon-miperfil" href="#Yo"> Mi Perfil</a>
				<a class="icon-trabajos" href="#Work"> Trabajos</a>
				<a class="icon-anuncios" href="#Anuncios"> Anuncios</a>
				<a class="icon-contacto" href="#Contacto"> Contacto</a>
			</div>
			<figure class="Header-imageContainer">
				<img src="../static/images/logo.png" alt="Logo de ALY INMOBILIARIA SAS" class="Header-image" />
			</figure>
				<figcaption class="Header-imageDescription">
					<p class="Header-comment">¡Humanizar el Negocio Inmobiliario, es uno de nuestros objetivos!</p>
				</figcaption>
		</header>
		<section id="Yo" class="Profile">
			<h2 class="Profile-title u-title icon-miperfil" > MI PERFIL</h2>
				<p class="Profile-description" >Actividades inmobiliarias realizadas a cambio de una retribución o por contrata.</p>
				<a href="https://twitter.com/ALYInmobiliaria" target="blanc" class="Profile-link" >@ALYInmobiliaria</a>
				<a href="https://www.facebook.com/alyinmobiliariaoficial" target="blanc" class="Profile-link" >/ALYInmobiliariaOficial</a>
		</section>
		<section id="Work" class="Work" >
			<h2 class="Work-title u-title icon-trabajos"> TRABAJOS</h2>
				<article class="Work-item">
					<video class="Work-videoContainer " width="860" height="auto" preload controls loop autoplay>
  						<source class="Work-link" src="../static/videos/TimelapsCartagena.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<figcaption class="Work-videoDescription" >Timelaps en Cartagena By ALY Inmobiliaria</figcaption>
				</article>
				<article class="Work-item" >
					<video class="Work-videoContainer "width="860" height="auto" preload controls>
  						<source class="Work-link" src="../static/videos/comercialcartagena.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<figcaption class="Work-videoDescription" >Cartagena de Indias By ALY Inmobiliaria</figcaption>
				</article>
				<article class="Work-item">
					<figure class="Work-imageContainer">
						<img class="Work-image" src="../static/images/fuerzacolombia.png" width="860" height="auto">
					</figure>
					<figcaption class="Work-imageDescription" >#Mundial2014 By ALY Inmobiliaria</figcaption>
				</article>
				<article class="Work-item">
					<figure class="Work-imageContainer">
						<img class="Work-image" src="../static/images/volantedigital.png" width="860" height="auto">
					</figure>
					<figcaption class="Work-imageDescription" >Volante Digital para Guamal, Magdalena By ALY Inmobiliaria</figcaption>
				</article>
		</section>
		<section id="Anuncios" Class="Anuncios">
			<h2 class="Anuncios-title u-title icon-anuncios"> ANUNCIOS</h2>
				<article class="Anuncios-item">
					<button class="Anuncios-buttonContainer" type="button">
						<a href="../templates/sevende.html">
							<img class="Anuncios-image" src="../static/images/anunciosevende.png" width="360" height="auto" alt="Se Vende" />
						</a>
					</button>
					<figcaption class="Anuncios-buttonDescription">¡Clic! sobre el Botón, para ver nuestra oferta de Inmuebles en Venta.</figcaption>
				</article>
				<article class="Anuncios-item">
					<button class="Anuncios-buttonContainer" type="button">
						<a href="../templates/searrienda.html">
							<img class="Anuncios-image" src="../static/images/anunciosearrienda.png" width="360" height="auto" alt="Se Arrienda" />
						</a>
					</button>
					<figcaption class="Anuncios-buttonDescription">¡Clic! sobre el Botón, para ver nuestra oferta de Inmuebles en Venta.</figcaption>
				</article>
		</section>
		<footer id="Contacto" class="Footer">
			<h2 class="Footer-title u-title icon-contacto"> CONTACTO</h2>
			<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo, ponte en contacto con este formulario</p>
			<form class="Footer-form">
				<article class="Footer-formItemInput">
					<input class="Footer-formInput" type="text" placeholder="Nombre" />
				</article>
				<article class="Footer-formItemInput"></article>
					<input class="Footer-formInput" type="email" placeholder="Email">
				</article>
				<article class="Footer-formItemTextarea">
					<textarea class="Footer-textarea" placeholder="Motivo"></textarea>
				</article>
				<article class="Footer-formItemButton">
					<buttom class="Footer-buttom" type="submit"> Contactarme </buttom>
				</article>
			</form>
		</footer>
</html>