<!DOCTYPE html>
<html lang="es">
	<head>
		<title>KATUMA - AP402</title>
		<meta charset="utf-8" />
		<meta description="Actividades inmobiliarias realizadas a cambio de una retribución o por contrata." />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="../static/images/favicon.png" type="image/png" />
		<link rel="stylesheet" href="../static/css/normalize.css">
		<link rel="stylesheet" href="../static/css/home.css">
	</head>
	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu" >
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="icon-miperfil" href="#"> Mi Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="icon-trabajos" href="#"> Trabajos</a>
					</li>
					<li class="MainMenu-item">
						<a class="icon-anuncios" href="#"> Anuncios</a>
					</li>
					<li class="MainMenu-item">
						<a class="icon-contacto" href="#"> Contacto</a>
					</li>
				</ul>
			</nav>
			<figure class="Header-imageContainer">
				<img src="../static/images/logo.png" alt="Logo de ALY INMOBILIARIA SAS" class="Header-image" />
			</figure>
				<figcaption class="Header-imageDescription">
					<p class="Header-comment">¡Humanizar el Negocio Inmobiliario, es uno de nuestros objetivos!</p>
				</figcaption>
		</header>
		<section class="Katuma">
			
		</section>
		<section class="Yellow">
			<h2 class="Yellow-ciudadTitle" href="../templates/searrienda.html">BOGOTÁ</h2>
			<article class="Yellow-item">
				<button class="Yellow-buttonContainer" type="button">
					<a class="Yellow-anclaButton" href="../templates/katumaapartamento402.html" />
					<img class="Yellow-imageButton" src="../static/images/katuma6.png" alt="Katuma Yellow" />
				</button>
			</article>
				<figcaption class="Yellow-buttonDescription">
					<p type="text">NORTE, LOCALIDAD ÚSAQUEN, CEDRITOS - KATUMA, Apartamento 402</p>
				</figcaption>
		</section>
	<footer id="contacto" class="Footer">
		<h2 class="Footer-title u-title">CONTACTO</h2>
		<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo, ponte en contacto con este formulario</p>
		<form class="Footer-form">
			<article class="Footer-formItemInput">
				<input class="Footer-formInput" type="text" placeholder="Nombre" />
			</article>
			<article class="Footer-formItemInput">
				<input class="Footer-formInput" type="email" placeholder="Email">
			</article>
			<article class="Footer-formItemTextarea">
				<textarea class="Footer-textarea" placeholder="Motivo"></textarea>
			</article>
			<article class="Footer-formItemButton">
				<buttom class="Footer-buttom" type="submit"> Contactarme </buttom>
			</article>
		</form>
	</footer>	
</html>