<!DOCTYPE html>
<html lang="es">
	<head>
		<title>SE ARRIENDA</title>
		<meta charset="utf-8" />
		<meta description="Actividades inmobiliarias realizadas a cambio de una retribución o por contrata." />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="../static/images/favicon.png" type="image/png" />
		<link rel="stylesheet" href="../static/css/normalize.css">
		<link rel="stylesheet" href="../static/css/home.css">
	</head>
	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu" >
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="icon-miperfil" href="#"> Mi Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="icon-trabajos" href="#"> Trabajos</a>
					</li>
					<li class="MainMenu-item">
						<a class="icon-anuncios" href="#"> Anuncios</a>
					</li>
					<li class="MainMenu-item">
						<a class="icon-contacto" href="#"> Contacto</a>
					</li>
				</ul>
			</nav>
			<figure class="Header-imageContainer">
				<img src="../static/images/logo.png" alt="Logo de ALY INMOBILIARIA SAS" class="Header-image" />
			</figure>
				<figcaption class="Header-imageDescription">
					<p class="Header-comment">¡Humanizar el Negocio Inmobiliario, es uno de nuestros objetivos!</p>
				</figcaption>
		</header>
		<section class="Yellow">
			<h2 class="Yellow-ciudadTitle" href="../templates/searrienda.html">BOGOTÁ</h2>
			<article class="Yellow-item">
				<button class="Yellow-buttonContainer" type="button">
					<a class="Yellow-anclaButton" href="../templates/katumaapartamento402.html" />
					<img class="Yellow-imageButton" src="../static/images/katuma6.png" alt="Katuma Yellow" />
				</button>
			</article>
				<figcaption class="Yellow-buttonDescription">
					<p type="text">NORTE, LOCALIDAD ÚSAQUEN, CEDRITOS - KATUMA, Apartamento 402</p>
				</figcaption>
		</section>
		<section class="Yellow">
			<h2 class="Yellow-ciudadTitle" href="../templates/searrienda.html">CARTAGENA</h2>
			<article class="Yellow-item">
				<button class="Yellow-buttonContainer" type="button">
					<a class="Yellow-anclaButton" href="../templates/conquistadorapartamento1920.html" />
					<img class="Yellow-imageButton" src="../static/images/elconquistador3.png" alt="Conquistador Yellow" />
				</button>
			</article>
				<figcaption class="Yellow-buttonDescription" href="../templates/searrienda.html">
					<p type="text">EL LAGUITO - NUEVO CONQUISTADOR, Apartamento 1920</p>
				</figcaption>
		</section>
		
		<section class="Green">
			<h2 class="Green-ciudadTitle" href="../templates/searrienda.html">BOGOTÁ</h2>
			<article class="Green-item">
				<figure class="Green-imageContainer">
					<a class="Green-anclaItem" href="../templates/searrienda.html"></a>
					<img class="Green-image" href="../templates/searrienda.html" src="../static/images/katumagreen.png" alt="Katuma Green" />
				</figure>
			</article>
				<figcaption class="Green-imageDescription" href="../templates/searrienda.html">
					<p type="text">NORTE, LOCALIDAD ÚSAQUEN, CEDRITOS - KATUMA, Apartamento 402: 3 Habitaciones (Con Closeth c/u) / 2 Baños / Cocina Integral / Estudio / Sala Comedor / Chimenea / 1 Parqueadero Semicubierto / Salón comunal / Recepción / Ascensor / Vigilancia 24H / Canon $1.600.000 Administración Incluida / Arrienda: ALY INMOBILIARIA</p>
				</figcaption>
		</section>
		<section class="Green">
			<h2 class="Green-ciudadTitle" href="../templates/searrienda.html">CARTAGENA</h2>
			<article class="Green-item">
				<figure class="Green-imageContainer">
					<img class="Green-image" href="../templates/searrienda.html" src="../static/images/conquistadorgreen.png">
					</img>
				</figure>
			</article>
				<figcaption class="Green-imageDescription" href="../templates/searrienda.html">
					<p type="text">EL LAGUITO - NUEVO CONQUISTADOR, Apartamento 1920: 1 Habitación (Con Closeth) / 1 Baño / Lavamanos / Nevera / Comedor (4 Personas) / 1 Fogón Eléctrico (2 Puestos) / 1 Cama Doble / 1 Cama Nido / 1 Cama Semidoble / 1 Sofacama / Recepción / Balcón / Ascensor / Vigilancia 24H / Tarifas: Desde $100.000 pesos hasta $350.000 pesos Por Noche, Según la Temporada de Vacaciones (Baja, Media, Alta) / Capacidad: 6 Personas / Tarifa Registro: $15.000 pesos (Se paga en recepción, se paga 1 sola vez y cubre a todo el grupo) / Aseo: $20.000 pesos / Arrienda: AURA LOPEZ YEPEZ / Contacto: ALY INMOBILIARIA (1)6032848</p>
				</figcaption>
		</section>

		<section class="Blue">
			<h2 class="Blue-ciudadTitle">BOGOTÁ</h2>
			<article class="Blue-item">
				<figure class="Blue-imageContainer">
					<img class="Blue-image" alt="Katuma Blue" src="../static/images/katumablue.png" />
				</figure>
			</article>
			<figcaption class="Blue-imageDescription">
				<p type="text">17/Agosto/2014 - 17/Septiembre/2014</p>
			</figcaption>
		</section>
		<section class="Blue">
			<h2 class="Blue-ciudadTitle">CARTAGENA</h2>
			<article class="Blue-item">
				<figure class="Blue-imageContainer">
					<img class="Blue-image" src="../static/images/conquistadorblue.png" />
				</figure>
			</article>
			<figcaption class="Blue-imageDescription">
				<p type="text">17/Agosto/2014 - 17/Septiembre/2014</p>
			</figcaption>
		</section>

		<footer id="contacto" class="Footer">
			<h2 class="Footer-title u-title">CONTACTO</h2>
			<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo, ponte en contacto con este formulario</p>
			<form class="Footer-form">
				<article class="Footer-formItemInput">
					<input class="Footer-formInput" type="text" placeholder="Nombre" />
				<article class="Footer-formItemInput"></article>
					<input class="Footer-formInput" type="email" placeholder="Email">
				</article>
				<article class="Footer-formItemTextarea">
					<textarea class="Footer-textarea" placeholder="Motivo"></textarea>
				</article>
				<article class="Footer-formItemButton">
					<buttom class="Footer-buttom" type="submit"> Contactarme </buttom>
				</article>
			</form>
		</footer>
</html>